/* =================================
  varibales
==================================== */

$red: #e95252;
$cyan: #45d3d3;
$orange: #fcaf4a;
$blue: #549df2;
$dark-blue: #4c4e61;
$grayish-blue: #a3a5ad;

$font: 'Poppins', sans-serif;
